<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozygod.model.zdlog.dao.GameGoldEntityMapper">
  <resultMap id="BaseResultMap" type="com.ozygod.model.zdlog.entity.GameGoldEntity">
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="reason" jdbcType="INTEGER" property="reason" />
    <result column="roomid" jdbcType="INTEGER" property="roomid" />
    <result column="tableid" jdbcType="INTEGER" property="tableid" />
    <result column="seatid" jdbcType="INTEGER" property="seatid" />
    <result column="begin_gold" jdbcType="BIGINT" property="beginGold" />
    <result column="change_gold" jdbcType="BIGINT" property="changeGold" />
    <result column="tax_gold" jdbcType="BIGINT" property="taxGold" />
    <result column="end_gold" jdbcType="BIGINT" property="endGold" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
  </resultMap>

  <select id="listPlayerGameLogByQry" parameterType="com.ozygod.model.zdlog.dto.PlayerLogDto" resultType="com.ozygod.model.zdlog.bo.PlayerGameLogBO">
    SELECT
        A.*,
        D.nickname nickName,
        D.show_id,
        A.ROOMID roomId,
        B.gameid gameId,
        B.room_name gameName
    FROM
        ( SELECT t1.* FROM tbl_game_gold t1
          LEFT JOIN zdgame.tbl_playerinfo t2 ON t1.userid = t2.userid
          WHERE t1.userid > 10000
          <if test="playerId != null">
            and t1.userid = #{playerId,jdbcType=BIGINT}
          </if>
          <if test="showId != null">
            and t2.show_id = #{showId, jdbcType=BIGINT}
          </if>
          <if test="gameIds != null and gameIds.size() > 0">
            and floor(t1.roomid / 100) in
            <foreach collection="gameIds" item="gameId" open="(" separator="," close=")">
              #{gameId, jdbcType=INTEGER}
            </foreach>
          </if>
          <if test="startTime != null">
            and t1.record_time &gt;= #{startTime,jdbcType=TIMESTAMP}
          </if>
          <if test="endTime != null">
            and t1.record_time &lt;= #{endTime,jdbcType=TIMESTAMP}
          </if>
          ORDER BY t1.record_time DESC
         <if test="pageSize > 0">
           LIMIT #{start}, #{pageSize}
         </if>
         ) AS A
    LEFT JOIN zdconfig.tbl_game_room B ON B.roomId = A.roomId
    LEFT JOIN zdgame.tbl_playerinfo AS D ON A.USERID = D.USERID
    ORDER BY
    A.record_time DESC
  </select>

  <select id="listPlayerGameLog1ByQry" parameterType="com.ozygod.model.zdlog.dto.PlayerLogDto" resultType="com.ozygod.model.zdlog.bo.PlayerGameLogBO">
    SELECT
        A.*,
        D.nickname nickName,
        A.ROOMID roomId,
        C.gameid gameId,
        C.game_name gameName
    FROM
        ( SELECT * FROM tbl_game_gold WHERE userid > 10000
          <if test="playerId != null">
            and userid = #{playerId,jdbcType=BIGINT}
          </if>
          <if test="startTime != null">
            and record_time &gt;= #{startTime,jdbcType=TIMESTAMP}
          </if>
          <if test="endTime != null">
            and record_time &lt;= #{endTime,jdbcType=TIMESTAMP}
          </if>
          ORDER BY record_time DESC
         <if test="pageSize > 0">
           LIMIT #{start}, #{pageSize}
         </if>
         ) AS A
    LEFT JOIN zdgame.tbl_game_room AS B ON A.ROOMID=B.ROOMID LEFT JOIN zdgame.tbl_game AS C ON B.GAMEID=C.GAMEID
    LEFT JOIN zdgame.tbl_playerinfo AS D ON A.USERID = D.USERID
    ORDER BY
    A.record_time DESC
  </select>

  <select id="totalPlayerGameLogByQry" parameterType="com.ozygod.model.zdlog.dto.PlayerLogDto" resultType="int">
    SELECT COUNT(1) FROM tbl_game_gold t1
    left join zdgame.tbl_playerinfo t2 on t1.userid = t2.userid
    WHERE t1.userid > 10000
    <if test="playerId != null">
      and t1.userid = #{playerId,jdbcType=BIGINT}
    </if>
    <if test="gameIds != null and gameIds.size() > 0">
      and floor(t1.roomid / 100) in
      <foreach collection="gameIds" item="gameId" open="(" separator="," close=")">
        #{gameId, jdbcType=INTEGER}
      </foreach>
    </if>
    <if test="startTime != null">
      and t1.record_time &gt;= #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null">
      and t1.record_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
    <if test="showId != null">
      and t2.show_id = #{showId, jdbcType=BIGINT}
    </if>
  </select>

  <select id="listGameWinningDetailByQry" parameterType="com.ozygod.model.zdlog.dto.PlayerLogDto" resultType="com.ozygod.model.zdlog.bo.GameWinningDetailBO">
    SELECT
      tbl_game_record.roomid roomId,
      (SELECT room_name FROM zdconfig.tbl_game_room WHERE roomid = tbl_game_record.roomid) gameName,
      SUM( after_bet - before_bet ) AS winningMoney,
      COUNT( DISTINCT tbl_game_record.userid ) AS gamePersonCount,
      SUM( bet ) AS flowVolume
    FROM
      tbl_game_record
    WHERE
      time >= #{startTime}
      AND time &lt;= #{endTime}
      <if test="playerId != null">
        and userid = #{playerId}
      </if>
      <if test="showId != null">
        and userid = #{showId}
      </if>
      <if test="roomId != null">
        and roomid = #{roomId}
      </if>
      GROUP BY
    tbl_game_record.roomid
  </select>

  <select id="listUserGameDetailByQry" parameterType="com.ozygod.model.zdlog.dto.PlayerLogDto" resultType="com.ozygod.model.zdlog.bo.GameWinningDetailBO">
    SELECT
      tbl_game_record.roomid,
      tbl_game_record.userid,
      (SELECT room_name FROM zdconfig.tbl_game_room WHERE roomid = tbl_game_record.roomid) gameName,
      (SELECT nickname FROM zdgame.tbl_playerinfo WHERE userid = tbl_game_record.userid) nickname,
      SUM( after_bet - before_bet ) AS winningMoney,
      COUNT( DISTINCT tbl_game_record.userid ) AS gamePersonCount,
      SUM( bet ) AS flowVolume
    FROM
      tbl_game_record
    WHERE
      id > #{startId}
      <if test="endId != null">
        AND id &lt; #{endId}
      </if>
    <if test="playerId != null">
      and userid = #{playerId}
    </if>
    <if test="showId != null">
      and userid = #{showId}
    </if>
    <if test="roomId != null">
      and roomid = #{roomId}
    </if>
    GROUP BY
    tbl_game_record.roomid,tbl_game_record.userid
    <if test="pageSize > 0">
      limit #{start}, #{pageSize}
    </if>
  </select>

  <select id="totalUserGameDetailByQry" parameterType="com.ozygod.model.zdlog.dto.PlayerLogDto" resultType="java.lang.Integer">
    select COUNT(1)
    from (
    SELECT
      tbl_game_record.roomid,
      tbl_game_record.userid,
      (SELECT room_name FROM zdconfig.tbl_game_room WHERE roomid = tbl_game_record.roomid) gameName,
      (SELECT nickname FROM zdgame.tbl_playerinfo WHERE userid = tbl_game_record.userid),
      SUM( after_bet - before_bet ) AS result,
      COUNT( DISTINCT tbl_game_record.userid ) AS player_count,
      SUM( bet ) AS bet
    FROM
    tbl_game_record
    WHERE
    id > #{startId}
    <if test="endId != null">
      AND id &lt; #{endId}
    </if>
    <if test="playerId != null">
      and userid = #{playerId}
    </if>
    <if test="showId != null">
      and userid = #{showId}
    </if>
    <if test="roomId != null">
      and roomid = #{roomId}
    </if>
    GROUP BY
    tbl_game_record.roomid,tbl_game_record.userid
    ) t1
  </select>

  <select id="countSpreadMoneyByQry" parameterType="com.ozygod.model.zdlog.dto.PlayerLogDto" resultType="long" >
    SELECT
     ifnull(sum(change_gold), 0)
    FROM tbl_game_gold
    WHERE userid > 10000
    and reason = 10
    <if test="playerId != null">
      AND USERID = #{playerId,jdbcType=INTEGER}
    </if>
    <if test="startTime != null">
      AND record_time &gt;= #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null">
      AND record_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
  </select>

  <select id="countGiftGoldByQry" parameterType="com.ozygod.model.zdlog.dto.PlayerLogDto" resultType="long" >
    SELECT
    ifnull(sum(change_gold), 0)
    FROM tbl_game_gold
    WHERE userid > 10000
    and reason = #{reason,jdbcType=INTEGER}
    <if test="playerId != null">
      AND USERID = #{playerId,jdbcType=INTEGER}
    </if>
    <if test="startTime != null">
      AND record_time &gt;= #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null">
      AND record_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
  </select>
  <select id="playersWinLose" resultType="com.ozygod.model.zdconfig.vo.PlayersWinLoseVO" parameterType="com.ozygod.model.zdlog.dto.PlayerLogDto">
    SELECT SUM(bet) bet,SUM( IF (( after_bet - before_bet ) > 0, after_bet - before_bet, 0 )) win, SUM( IF (( after_bet - before_bet ) &lt; 0, after_bet - before_bet, 0 )) lose FROM tbl_game_record
    WHERE
    userid = #{playerId}
    <if test="startTime != null">
      and time > #{startTime}
    </if>
    <if test="endTime != null">
      AND time &lt;= #{endTime}
    </if>

  </select>
  <select id="getGameRecordMinId" resultType="java.lang.Integer">
    SELECT id FROM tbl_game_record WHERE time &lt; #{startTime} ORDER BY id DESC LIMIT 1
  </select>
  <select id="getGameRecordMaxId" resultType="java.lang.Integer">
    SELECT id FROM tbl_game_record WHERE time > #{endTime} LIMIT 1
  </select>

  <insert id="insert" parameterType="com.ozygod.model.zdlog.entity.GameGoldEntity">
    insert into tbl_game_gold (userid, reason, roomid,
      tableid, seatid, begin_gold,
      change_gold, tax_gold, end_gold,
      note, record_time)
    values (#{userid,jdbcType=BIGINT}, #{reason,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER},
      #{tableid,jdbcType=INTEGER}, #{seatid,jdbcType=INTEGER}, #{beginGold,jdbcType=BIGINT},
      #{changeGold,jdbcType=BIGINT}, #{taxGold,jdbcType=BIGINT}, #{endGold,jdbcType=BIGINT},
      #{note,jdbcType=VARCHAR}, #{recordTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ozygod.model.zdlog.entity.GameGoldEntity">
    insert into tbl_game_gold
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="roomid != null">
        roomid,
      </if>
      <if test="tableid != null">
        tableid,
      </if>
      <if test="seatid != null">
        seatid,
      </if>
      <if test="beginGold != null">
        begin_gold,
      </if>
      <if test="changeGold != null">
        change_gold,
      </if>
      <if test="taxGold != null">
        tax_gold,
      </if>
      <if test="endGold != null">
        end_gold,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="recordTime != null">
        record_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="tableid != null">
        #{tableid,jdbcType=INTEGER},
      </if>
      <if test="seatid != null">
        #{seatid,jdbcType=INTEGER},
      </if>
      <if test="beginGold != null">
        #{beginGold,jdbcType=BIGINT},
      </if>
      <if test="changeGold != null">
        #{changeGold,jdbcType=BIGINT},
      </if>
      <if test="taxGold != null">
        #{taxGold,jdbcType=BIGINT},
      </if>
      <if test="endGold != null">
        #{endGold,jdbcType=BIGINT},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null">
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>
