<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozygod.model.zdconfig.dao.SysDomainEntityMapper">
  <resultMap id="BaseResultMap" type="com.ozygod.model.zdconfig.entity.SysDomainEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, domain, note, enabled, create_time, is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_sys_domain
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="listSysDomainByQry" parameterType="com.ozygod.model.zdconfig.dto.ConfigDto" resultType="com.ozygod.model.zdconfig.bo.SysDomainBO">
    select
      id, domain, note, create_time, enabled
    from tbl_sys_domain
    where is_del = 0
    <if test="enabled != null">
      and enabled = #{enabled, jdbcType=INTEGER}
    </if>
    order by create_time desc
    <if test="pageSize > 0">
      limit #{start}, #{pageSize}
    </if>
  </select>

  <select id="totalSysDomainByQry" parameterType="com.ozygod.model.zdconfig.dto.ConfigDto" resultType="java.lang.Integer">
    select
      COUNT(1)
    from tbl_sys_domain
    where is_del = 0
    <if test="enabled != null">
      and enabled = #{enabled, jdbcType=INTEGER}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_sys_domain
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ozygod.model.zdconfig.entity.SysDomainEntity">
    insert into tbl_sys_domain (id, domain, note, 
      enabled, create_time, is_del
      )
    values (#{id,jdbcType=INTEGER}, #{domain,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{enabled,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ozygod.model.zdconfig.entity.SysDomainEntity">
    insert into tbl_sys_domain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="domain != null">
        domain,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ozygod.model.zdconfig.entity.SysDomainEntity">
    update tbl_sys_domain
    <set>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ozygod.model.zdconfig.entity.SysDomainEntity">
    update tbl_sys_domain
    set domain = #{domain,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>