<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozygod.model.zdspread.dao.RecordDaySpreadGoldEntityMapper">
  <resultMap id="BaseResultMap" type="com.ozygod.model.zdspread.entity.RecordDaySpreadGoldEntity">
    <result column="reord_id" jdbcType="BIGINT" property="reordId" />
    <result column="record_time" jdbcType="DATE" property="recordTime" />
    <result column="spread_id" jdbcType="INTEGER" property="spreadId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="tax_gold" jdbcType="BIGINT" property="taxGold" />
    <result column="spread_gold" jdbcType="BIGINT" property="spreadGold" />
  </resultMap>

  <select id="listDailyCountSpreadGoldRecordByQry" parameterType="com.ozygod.model.zdspread.dto.SpreadDto" resultType="com.ozygod.model.zdspread.bo.RecordDaySpreadGoldBO">
    SELECT
        record_time,
        SUM( tax_gold ) AS dayTaxGold,
        SUM( spread_gold ) AS daySpreadGold
    FROM
        tbl_record_day_spread_gold
    WHERE
        1 = 1
    <if test="queryDate != null">
      and record_time &lt;= #{queryDate, jdbcType=DATE}
    </if>
    GROUP BY
        record_time
    ORDER BY
        record_time DESC
	LIMIT 0,30
  </select>

  <select id="listRecordDaySpreadGoldByQry" parameterType="com.ozygod.model.zdspread.dto.SpreadDto" resultType="com.ozygod.model.zdspread.bo.RecordDaySpreadGoldBO">
    SELECT
    A.*,
    B.nickname nickName,
    C.show_name
    FROM
    tbl_record_day_spread_gold AS A
    JOIN zdgame.tbl_playerinfo AS B ON A.USER_ID = B.userid
    JOIN zdspread.tbl_spread_users AS C ON A.spread_id = C.ID
    WHERE
    1 =1
    <if test="spreadUserId != null">
      and A.spread_id = #{spreadUserId,jdbcType=INTEGER}
    </if>
    ORDER BY A.reord_id desc
    <if test="pageSize &gt; 0">
      limit #{start}, #{pageSize}
    </if>
  </select>

  <select id="totalRecordDaySpreadGoldByQry" parameterType="com.ozygod.model.zdspread.dto.SpreadDto" resultType="int">
    SELECT
    COUNT(1)
    FROM
    tbl_record_day_spread_gold AS A
    WHERE
    1 =1
    <if test="spreadUserId != null">
      and A.spread_id = #{spreadUserId,jdbcType=INTEGER}
    </if>
  </select>

  <insert id="insert" parameterType="com.ozygod.model.zdspread.entity.RecordDaySpreadGoldEntity">
    insert into tbl_record_day_spread_gold (reord_id, record_time, spread_id,
      user_id, tax_gold, spread_gold
      )
    values (#{reordId,jdbcType=BIGINT}, #{recordTime,jdbcType=DATE}, #{spreadId,jdbcType=INTEGER},
      #{userId,jdbcType=INTEGER}, #{taxGold,jdbcType=BIGINT}, #{spreadGold,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ozygod.model.zdspread.entity.RecordDaySpreadGoldEntity">
    insert into tbl_record_day_spread_gold
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reordId != null">
        reord_id,
      </if>
      <if test="recordTime != null">
        record_time,
      </if>
      <if test="spreadId != null">
        spread_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="taxGold != null">
        tax_gold,
      </if>
      <if test="spreadGold != null">
        spread_gold,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reordId != null">
        #{reordId,jdbcType=BIGINT},
      </if>
      <if test="recordTime != null">
        #{recordTime,jdbcType=DATE},
      </if>
      <if test="spreadId != null">
        #{spreadId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="taxGold != null">
        #{taxGold,jdbcType=BIGINT},
      </if>
      <if test="spreadGold != null">
        #{spreadGold,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>
