<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozygod.model.zdmanage.dao.AgentRecordEntityMapper">
  <resultMap id="BaseResultMap" type="com.ozygod.model.zdmanage.entity.AgentRecordEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="super_id" jdbcType="BIGINT" property="superId" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="total_performance" jdbcType="BIGINT" property="totalPerformance" />
    <result column="agent_level" jdbcType="INTEGER" property="agentLevel" />
    <result column="ratio" jdbcType="INTEGER" property="ratio" />
    <result column="total_rebate" jdbcType="BIGINT" property="totalRebate" />
    <result column="performance" jdbcType="BIGINT" property="performance" />
    <result column="direct_performance" jdbcType="BIGINT" property="directPerformance" />
    <result column="team_performance" jdbcType="BIGINT" property="teamPerformance" />
    <result column="under_count" jdbcType="INTEGER" property="underCount" />
    <result column="agent_time" jdbcType="TIMESTAMP" property="agentTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, super_id, period, total_performance, agent_level, ratio, total_rebate, performance,
    direct_performance, team_performance, under_count, agent_time
  </sql>

  <select id="totalAgentRecordByQry" parameterType="com.ozygod.model.common.dto.PlatformDto" resultType="int">
    select
    COUNT(1)
    from tbl_agent_record t1
    left join zdgame.tbl_account t2 on t1.user_id = t2.userid
    left join zdgame.tbl_playerinfo t3 on t1.user_id = t3.userid
    where (t1.first_performance >= 0 or t1.second_performance >= 0 or t1.third_performance >= 0)
    <if test="playerId != null">
      and t1.user_id = #{playerId,jdbcType=BIGINT}
    </if>
    <if test="superId != null">
      and t1.super_id = #{superId,jdbcType=BIGINT}
    </if>
    <if test="period != null">
      and t1.period = #{period,jdbcType=INTEGER}
    </if>
    <if test="startTime != null">
      and t1.agent_time &gt;= #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null">
      and t1.agent_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
    <if test="account != null and account != ''">
      and t2.account like concat('%', #{account,jdbcType=VARCHAR}, '%')
    </if>
    <if test="showId != null">
      and t3.show_id = #{showId,jdbcType=BIGINT}
    </if>
  </select>

  <select id="listAgentRecordByQry" parameterType="com.ozygod.model.common.dto.PlatformDto" resultType="com.ozygod.model.zdmanage.bo.AgentRecordBO">
    select
    t1.*, t2.account userAccount, t3.nickname, t3.show_id
    from tbl_agent_record t1
    left join zdgame.tbl_account t2 on t1.user_id = t2.userid
    left join zdgame.tbl_playerinfo t3 on t1.user_id = t3.userid
    where (t1.first_performance >= 0 or t1.second_performance >= 0 or t1.third_performance >= 0)
    <if test="playerId != null">
      and t1.user_id = #{playerId,jdbcType=BIGINT}
    </if>
    <if test="superId != null">
      and t1.super_id = #{superId,jdbcType=BIGINT}
    </if>
    <if test="period != null">
      and t1.period = #{period,jdbcType=INTEGER}
    </if>
    <if test="startTime != null">
      and t1.agent_time &gt;= #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null">
      and t1.agent_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
    <if test="account != null and account != ''">
      and t2.account like concat('%', #{account,jdbcType=VARCHAR}, '%')
    </if>
    <if test="showId != null">
      and t3.show_id = #{showId,jdbcType=BIGINT}
    </if>
    order by t1.agent_time desc,t1.user_id, t1.third_performance desc
    <if test="pageSize > 0">
      limit #{start}, #{pageSize}
    </if>
  </select>

  <select id="listAgentRecordSummaryByQry" parameterType="com.ozygod.model.common.dto.PlatformDto" resultType="com.ozygod.model.zdmanage.bo.AgentRecordBO">
    select t1.*, t2.account userAccount, t3.nickname, t3.show_id
    from (
      select
        t1.user_id, t1.super_id,
        ifnull( sum( t1.first_performance ), 0 ) firstPerformance,
        ifnull( sum( t1.second_performance ), 0 ) secondPerformance,
        ifnull( sum( t1.third_performance ), 0 ) thirdPerformance,
        ifnull( sum( t1.unlimit_performance ), 0 ) unlimitPerformance,
        ifnull( sum( t1.first_bonus ), 0 ) firstBonus,
        ifnull( sum( t1.second_bonus ), 0 ) secondBonus,
        ifnull( sum( t1.third_bonus ), 0 ) thirdBonus,
        ifnull( sum( t1.unlimit_bonus ), 0 ) unlimitBonus,
        max(under_count) under_count
      from tbl_agent_record t1
      left join zdgame.tbl_playerinfo t3 on t1.user_id = t3.userid
    where (t1.first_performance >= 0 or t1.second_performance >= 0 or t1.third_performance >= 0)
      <if test="playerId != null">
        and t1.user_id = #{playerId,jdbcType=BIGINT}
      </if>
      <if test="superId != null">
        and t1.super_id = #{superId,jdbcType=BIGINT}
      </if>
      <if test="period != null">
        and t1.period = #{period,jdbcType=INTEGER}
      </if>
      <if test="startTime != null">
        and t1.agent_time &gt;= #{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime != null">
        and t1.agent_time &lt;= #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="showId != null">
        and t3.show_id = #{showId,jdbcType=BIGINT}
      </if>
      group by t1.user_id, t1.super_id
    ) t1
    left join zdgame.tbl_account t2 on t1.user_id = t2.userid
    left join zdgame.tbl_playerinfo t3 on t1.user_id = t3.userid
    order by t1.unlimitPerformance desc
    <if test="pageSize > 0">
      limit #{start}, #{pageSize}
    </if>
  </select>

  <select id="totalAgentRecordSummaryByQry" parameterType="com.ozygod.model.common.dto.PlatformDto" resultType="java.lang.Integer">
    select count(t1.user_id)
    from (
      select
        t1.user_id, t1.super_id,
    ifnull( sum( t1.first_performance ), 0 ) firstPerformance,
    ifnull( sum( t1.second_performance ), 0 ) secondPerformance,
    ifnull( sum( t1.third_performance ), 0 ) thirdPerformance,
    ifnull( sum( t1.unlimit_performance ), 0 ) unlimitPerformance,
    ifnull( sum( t1.first_bonus ), 0 ) firstBonus,
    ifnull( sum( t1.second_bonus ), 0 ) secondBonus,
    ifnull( sum( t1.third_bonus ), 0 ) thirdBonus,
    ifnull( sum( t1.unlimit_bonus ), 0 ) unlimitBonus,
        max(under_count) under_count
      from tbl_agent_record t1
      left join zdgame.tbl_playerinfo t3 on t1.user_id = t3.userid
    where (t1.first_performance >= 0 or t1.second_performance >= 0 or t1.third_performance >= 0)
      <if test="playerId != null">
        and t1.user_id = #{playerId,jdbcType=BIGINT}
      </if>
      <if test="superId != null">
        and t1.super_id = #{superId,jdbcType=BIGINT}
      </if>
      <if test="period != null">
        and t1.period = #{period,jdbcType=INTEGER}
      </if>
      <if test="startTime != null">
        and t1.agent_time &gt;= #{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime != null">
        and t1.agent_time &lt;= #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="showId != null">
        and t3.show_id = #{showId,jdbcType=BIGINT}
      </if>
      group by t1.user_id, t1.super_id
    ) t1
  </select>

  <select id="getAgentRecordSummary" parameterType="com.ozygod.model.common.dto.PlatformDto" resultType="com.ozygod.model.zdmanage.bo.AgentSummaryBO">
    select
    ifnull( sum( t1.first_performance ), 0 ) firstPerformance,
    ifnull( sum( t1.second_performance ), 0 ) secondPerformance,
    ifnull( sum( t1.third_performance ), 0 ) thirdPerformance,
    ifnull( sum( t1.unlimit_performance ), 0 ) unlimitPerformance,
    ifnull( sum( t1.first_bonus ), 0 ) firstBonus,
    ifnull( sum( t1.second_bonus ), 0 ) secondBonus,
    ifnull( sum( t1.third_bonus ), 0 ) thirdBonus,
    ifnull( sum( t1.unlimit_bonus ), 0 ) unlimitBonus,
    count( DISTINCT t1.user_id ) totalAgentCount
    from tbl_agent_record t1
    left join zdgame.tbl_playerinfo t3 on t1.user_id = t3.userid
    where (t1.first_performance >= 0 or t1.second_performance >= 0 or t1.third_performance >= 0)
    <if test="playerId != null">
      and t1.user_id = #{playerId,jdbcType=BIGINT}
    </if>
    <if test="superId != null">
      and t1.super_id = #{superId,jdbcType=BIGINT}
    </if>
    <if test="period != null">
      and t1.period = #{period,jdbcType=INTEGER}
    </if>
    <if test="startTime != null">
      and t1.agent_time &gt;= #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime != null">
      and t1.agent_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
    <if test="showId != null">
      and t3.show_id = #{showId,jdbcType=BIGINT}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_agent_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_agent_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ozygod.model.zdmanage.entity.AgentRecordEntity">
    insert into tbl_agent_record (id, user_id, super_id, period,
      total_performance, agent_level, ratio,
      total_rebate, performance, direct_performance,
      team_performance, under_count, agent_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{superId,jdbcType=BIGINT}, #{period,jdbcType=INTEGER},
      #{totalPerformance,jdbcType=BIGINT}, #{agentLevel,jdbcType=INTEGER}, #{ratio,jdbcType=INTEGER},
      #{totalRebate,jdbcType=BIGINT}, #{performance,jdbcType=BIGINT}, #{directPerformance,jdbcType=BIGINT},
      #{teamPerformance,jdbcType=BIGINT}, #{underCount,jdbcType=INTEGER}, #{agentTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ozygod.model.zdmanage.entity.AgentRecordEntity">
    insert into tbl_agent_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="superId != null">
        super_id,
      </if>
      <if test="period != null">
        period,
      </if>
      <if test="totalPerformance != null">
        total_performance,
      </if>
      <if test="agentLevel != null">
        agent_level,
      </if>
      <if test="ratio != null">
        ratio,
      </if>
      <if test="totalRebate != null">
        total_rebate,
      </if>
      <if test="performance != null">
        performance,
      </if>
      <if test="directPerformance != null">
        direct_performance,
      </if>
      <if test="teamPerformance != null">
        team_performance,
      </if>
      <if test="underCount != null">
        under_count,
      </if>
      <if test="agentTime != null">
        agent_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="superId != null">
        #{superId,jdbcType=BIGINT},
      </if>
      <if test="period != null">
        #{period,jdbcType=INTEGER},
      </if>
      <if test="totalPerformance != null">
        #{totalPerformance,jdbcType=BIGINT},
      </if>
      <if test="agentLevel != null">
        #{agentLevel,jdbcType=INTEGER},
      </if>
      <if test="ratio != null">
        #{ratio,jdbcType=INTEGER},
      </if>
      <if test="totalRebate != null">
        #{totalRebate,jdbcType=BIGINT},
      </if>
      <if test="performance != null">
        #{performance,jdbcType=BIGINT},
      </if>
      <if test="directPerformance != null">
        #{directPerformance,jdbcType=BIGINT},
      </if>
      <if test="teamPerformance != null">
        #{teamPerformance,jdbcType=BIGINT},
      </if>
      <if test="underCount != null">
        #{underCount,jdbcType=INTEGER},
      </if>
      <if test="agentTime != null">
        #{agentTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ozygod.model.zdmanage.entity.AgentRecordEntity">
    update tbl_agent_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="superId != null">
        super_id = #{superId,jdbcType=BIGINT},
      </if>
      <if test="period != null">
        period = #{period,jdbcType=INTEGER},
      </if>
      <if test="totalPerformance != null">
        total_performance = #{totalPerformance,jdbcType=BIGINT},
      </if>
      <if test="agentLevel != null">
        agent_level = #{agentLevel,jdbcType=INTEGER},
      </if>
      <if test="ratio != null">
        ratio = #{ratio,jdbcType=INTEGER},
      </if>
      <if test="totalRebate != null">
        total_rebate = #{totalRebate,jdbcType=BIGINT},
      </if>
      <if test="performance != null">
        performance = #{performance,jdbcType=BIGINT},
      </if>
      <if test="directPerformance != null">
        direct_performance = #{directPerformance,jdbcType=BIGINT},
      </if>
      <if test="teamPerformance != null">
        team_performance = #{teamPerformance,jdbcType=BIGINT},
      </if>
      <if test="underCount != null">
        under_count = #{underCount,jdbcType=INTEGER},
      </if>
      <if test="agentTime != null">
        agent_time = #{agentTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ozygod.model.zdmanage.entity.AgentRecordEntity">
    update tbl_agent_record
    set user_id = #{userId,jdbcType=BIGINT},
      super_id = #{superId,jdbcType=BIGINT},
      period = #{period,jdbcType=INTEGER},
      total_performance = #{totalPerformance,jdbcType=BIGINT},
      agent_level = #{agentLevel,jdbcType=INTEGER},
      ratio = #{ratio,jdbcType=INTEGER},
      total_rebate = #{totalRebate,jdbcType=BIGINT},
      performance = #{performance,jdbcType=BIGINT},
      direct_performance = #{directPerformance,jdbcType=BIGINT},
      team_performance = #{teamPerformance,jdbcType=BIGINT},
      under_count = #{underCount,jdbcType=INTEGER},
      agent_time = #{agentTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
