<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozygod.model.zdmanage.dao.RobotMenuEntityMapper">
  <resultMap id="BaseResultMap" type="com.ozygod.model.zdmanage.entity.RobotMenuEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="super_id" jdbcType="INTEGER" property="superId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="menu_num" jdbcType="VARCHAR" property="menuNum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, super_id, menu_name, menu_code, menu_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_robot_menu
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="listRobotMenuByQry" parameterType="com.ozygod.model.zdmanage.dto.RobotMenuDto" resultType="com.ozygod.model.zdmanage.bo.RobotMenuBO">
    select
      id, super_id, menu_name, menu_code, menu_num
    from tbl_robot_menu
    where 1=1
    <if test="superId != null and superId != 0 ">
      and super_id = #{superId,jdbcType=INTEGER}
    </if>
    <if test="superId == null or superId == 0">
      and super_id = 0
    </if>
    <if test="menuCode != null">
      and menu_code = #{menuCode,jdbcType=VARCHAR}
    </if>
    order by menu_num
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_robot_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ozygod.model.zdmanage.entity.RobotMenuEntity">
    insert into tbl_robot_menu (id, super_id, menu_name, 
      menu_code, menu_num)
    values (#{id,jdbcType=INTEGER}, #{superId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, 
      #{menuCode,jdbcType=VARCHAR}, #{menuNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ozygod.model.zdmanage.entity.RobotMenuEntity">
    insert into tbl_robot_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="superId != null">
        super_id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuCode != null">
        menu_code,
      </if>
      <if test="menuNum != null">
        menu_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="superId != null">
        #{superId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuCode != null">
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuNum != null">
        #{menuNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ozygod.model.zdmanage.entity.RobotMenuEntity">
    update tbl_robot_menu
    <set>
      <if test="superId != null">
        super_id = #{superId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuCode != null">
        menu_code = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuNum != null">
        menu_num = #{menuNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ozygod.model.zdmanage.entity.RobotMenuEntity">
    update tbl_robot_menu
    set super_id = #{superId,jdbcType=INTEGER},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_code = #{menuCode,jdbcType=VARCHAR},
      menu_num = #{menuNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>